@{
	ViewData["Title"] = "Admin panel";
}

<header>
	<h1>Administration</h1>
</header>

<article class="admin-menu">
	<p>
		<a asp-action="Gallery" class="comment">// Artworks</a><br />
		<a asp-action="Projects" class="comment">// Projects</a><br />
		<a asp-action="Badges" class="comment">// Badges</a><br />
		<a asp-action="Resume" class="comment">// Resume</a><br />
		<a asp-action="Contacts" class="comment">// Contact links</a><br />
		<a asp-action="Wishlist" class="comment">// Wishlist</a>
	</p>
	<p>
		<a asp-action="Shortener" class="comment">// Link shortener & Files</a>
	</p>
	<p>
		<a asp-action="FoxTube" class="comment">// FoxTube API</a><br />
		<a asp-action="GUTSchedule" class="comment">// GUT.Schedule API</a>
	</p>
	<p>
		<a asp-action="Credential" class="comment logout">// Change credential information</a>
	</p>
	<p>
		<a asp-action="Logout" class="comment logout">&#xE875; Logout</a>
	</p>
</article>

@section Imports
{
	<link type="text/css" rel="stylesheet" href="~/css/Admin.css" />
}