@model CredentialViewModel
@{
	ViewData["Title"] = "Login";
}

<header>
	<h1>Administration panel - Login</h1>
</header>

<article>
	<form asp-action="Login" asp-antiforgery="true">
		<div asp-validation-summary="All" class="validation-error"></div>
		<div>
			<label asp-for="Credential.Email">E-mail</label>
			<input type="email" asp-for="Credential.Email" />
			<span asp-validation-for="Credential.Email"></span>
		</div>
		<div>
			<label asp-for="Credential.Password">Password</label>
			<input type="password" asp-for="Credential.Password" />
			<span asp-validation-for="Credential.Password"></span>
		</div>
		<input class="btn" style="margin-top:10px" type="submit" value="Login" />
	</form>
</article>

@section Imports
{
	<link type="text/css" rel="stylesheet" href="~/css/Admin.css" />
}