<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--Redirects-->
	<system.webServer>
		<rewrite>
			<rules>
				<!--Legacy redirects-->
				<rule name="GutSchedule API redirect" stopProcessing="true">
					<match url="schedule_offset.txt" />
					<action type="Redirect" url="/API/GUTSchedule/SemesterOffsetDay" redirectType="Permanent" appendQueryString="false" />
				</rule>
				<rule name="GUT.Schedule Privacy policy" stopProcessing="true">
					<match url="Projects/GUTSchedule/PrivacyPolicy.txt" />
					<action type="Redirect" url="/Projects/GUTSchedule/PrivacyPolicy" redirectType="Permanent" appendQueryString="false" />
				</rule>
				<rule name="GUT.Schedule download page" stopProcessing="true">
					<match url="guttime/get" />
					<action type="Redirect" url="/Projects/GUTSchedule" redirectType="Permanent" appendQueryString="false" />
				</rule>
				<rule name="FoxTubr Privacy policy" stopProcessing="true">
					<match url="Projects/FoxTube/PrivacyPolicy.txt" />
					<action type="Redirect" url="/Projects/FoxTube/PrivacyPolicy" redirectType="Permanent" appendQueryString="false" />
				</rule>
				<!--/Legacy redirects-->
				<!--Website maintainence redirect-->
				<rule name="Construction redirect" stopProcessing="true" enabled="false">
					<match url="^(?!Admin|API|Construction|css|assets|fonts|images)" />
					<action type="Rewrite" url="/Construction" appendQueryString="false" />
				</rule>
				<!--\Website maintainence redirect-->
			</rules>
		</rewrite>
	</system.webServer>
	<!--/Redirects-->
	<location path="." inheritInChildApplications="false" allowOverride="false">
		<system.web>
			<trust level="Full" />
		</system.web>
	</location>
	<system.web>
		<compilation defaultLanguage="c#" />
		<globalization fileEncoding="utf-8" />
	</system.web>
</configuration>
<!--ProjectGuid: 9fb2b925-dc18-4081-ac91-96f2c49415f9-->