################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user

[Bb]in/
[Oo]bj/
.vs/

/MyWebsite/.config
/MyWebsite/MyWebsite/Properties/PublishProfiles
/MyWebsite/MyWebsite/.config