################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyWebsite/.vs/MyWebsite
/MyWebsite/MyWebsite/bin/Debug/netcoreapp2.1
/MyWebsite/MyWebsite/obj
/MyWebsite/MyWebsite/bin/Release/netcoreapp2.1
/MyWebsite/bin
/MyWebsite/obj
