@model MyWebsite.Models.LinkModel
@{
	ViewData["Title"] = "Edit link";
}

<header>
	&#xE760; <a asp-action="Index">Back to the list</a>
	<h1>Edit link</h1>
</header>

<article>
	<form asp-action="Edit">
		<div asp-validation-summary="All" class="text-danger"></div>
		<input asp-for="Order" type="number" hidden />
		<div>
			<label asp-for="Name"></label>
			<input asp-for="Name" type="text" readonly />
		</div>
		<div>
			<label asp-for="EnglishTitle"></label>
			<input asp-for="EnglishTitle" type="text" required />
			<span asp-validation-for="EnglishTitle" class="text-danger"></span>
		</div>
		<div>
			<label asp-for="RussianTitle"></label>
			<input asp-for="RussianTitle" type="text" />
			<span asp-validation-for="RussianTitle" class="text-danger"></span>
		</div>
		<div>
			<label asp-for="Username"></label>
			<input asp-for="Username" type="text" required />
			<span asp-validation-for="Username" class="text-danger"></span>
		</div>
		<div>
			<label asp-for="Url"></label>
			<input asp-for="Url" type="text" required />
			<span asp-validation-for="Url" class="text-danger"></span>
		</div>
		<div>
			<input type="checkbox" class="checkbox" asp-for="CanContactMe" />
			<label asp-for="CanContactMe"></label> <br />
		</div>
		<div>
			<input type="checkbox" class="checkbox" asp-for="DisplayInFooter" />
			<label asp-for="DisplayInFooter"></label>
		</div>

		<input type="submit" value="Save" />
	</form>
</article>