@model MyWebsite.Areas.Admin.Models.CredentialModel
@{
    ViewData["Title"] = "Edit credential";
}

<header>
    <p>&#xE760; <a asp-action="Index" asp-controller="Admin" asp-area="">Back to main menu</a></p>
    <h1>Change credential information</h1>
</header>

<article>
    <form asp-action="Index" onsubmit="return Validate();">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <p>
            <label asp-for="Updated.Email">New e-mail:</label>
            <input asp-for="Updated.Email" id="new-email" type="email" />
            <span asp-validation-for="Updated.Email" class="text-danger" id="email-validation"></span><br />
            <label>Confirm e-mail:</label>
            <input id="confirm-email" type="email" />
        </p>
        <p>
            <label asp-for="Updated.Password">New password:</label>
            <input asp-for="Updated.Password" id="new-password" type="password" />
            <span asp-validation-for="Updated.Password" class="text-danger" id="password-validation"></span><br />
            <label>Confirm password:</label>
            <input id="confirm-password" type="password" />
        </p>
        <p>
            <label asp-for="Current.Email">Current e-mail:</label>
            <input asp-for="Current.Email" type="email" />
            <span asp-validation-for="Current.Email" class="text-danger"></span><br />
            <label asp-for="Current.Password">Current password:</label>
            <input asp-for="Current.Password" type="password" />
            <span asp-validation-for="Current.Password" class="text-danger"></span>
        </p>
        <input type="submit" value="Update" />
    </form>
</article>

<link href="~/css/Admin.css" type="text/css" rel="stylesheet" />

<script type="text/javascript">
	var newEmail = document.getElementById("new-email");
	var confirmEmail = document.getElementById("confirm-email");
	var newPassword = document.getElementById("new-password");
	var confirmPassword = document.getElementById("confirm-password");
	var emailValidation = document.getElementById("email-validation");
	var passwordValidation = document.getElementById("password-validation");

	function Validate()
	{
		var invalid = false;
		emailValidation.innerHTML = "";
		passwordValidation.innerHTML = "";

		if (newEmail.value != "" && newEmail.value != confirmEmail.value)
		{
			emailValidation.innerHTML = "Addresses don't match";
			invalid = true;
		}
		if (newPassword.value != "" && newPassword.value != confirmPassword.value)
		{
			passwordValidation.innerHTML = "Passwords don't match";
			invalid = true;
		}

		return !invalid;
	}
</script>