article {
    margin: 0px;
}

.block {
    position: relative;
}
.block .content {
    position: absolute;
}
.block .background {
    width: 100%;
}

/*.goto {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1e1e1e;
    border-radius: 5px;
    padding: 5px;
    color: white;
}*/


.intro {
    color: white;
    background-color: #00a7dc;
    font-size: 36px;
    text-shadow: 2px 2px 1px black;
}
.intro .content {
    bottom: 50px;
    left: 50px;
    max-width: 65%;
}

.sut {
    color: white;
    background-color: #ff8000;
    font-size: 24px;
    text-shadow: 2px 2px 1px black;
}
.sut .content {
    margin: 50px 50px;
}