input:not([type="checkbox"])
{
	padding: 10px;
	border-radius: 5px;
	border: 1px solid black;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 10px;
}

select
{
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	width: 100%;
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
}

input:invalid
{
	border: 3px solid red;
}

input[type="submit"],
input[type="button"],
button
{
	border-radius: 5px;
	border: 0px;
	padding: 10px 20px;
	background-color: #343434;
	color: white;
	cursor: pointer;
}

	input[type="submit"]:disabled,
	input[type="button"]:disabled,
	button:disabled
	{
		background-color: gray;
		cursor: initial;
	}

	input[type="submit"]:hover:not(:disabled),
	input[type="button"]:hover:not(:disabled),
	button:hover:not(:disabled)
	{
		background-color: #505050;
	}

	input[type="submit"]:active,
	input[type="button"]:active,
	button:active
	{
		background-color: black;
	}

	input[type="submit"][required],
	input[type="button"][required]
	{
		background-color: red;
	}

		input[type="submit"][required]:hover,
		input[type="button"][required]:hover
		{
			background-color: rgb(200, 0, 0);
		}

		input[type="submit"][required]:active,
		input[type="button"][required]:active
		{
			background-color: darkred;
		}

input[readonly]
{
	background-color: lightgray;
}

textarea
{
	resize: none;
	width: 100%;
	border-radius: 5px;
	border: 1px solid black;
	padding: 10px;
	box-sizing: border-box;
	height: 68vh;
	font-family: 'Consolas';
}

.select-container::after
{
	content: '>';
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	right: 11px;
	top: 11px;
	position: absolute;
	pointer-events: none;
}

.select-container
{
	position: relative;
}

form
{
	max-width: 500px;
	width: 100%;
}

.admin-menu > p a
{
	font-size: 16pt;
}

.comment.logout
{
	color: red !important;
}

.validation-summary-errors
{
	color: red;
}

th
{
	text-align: left;
}

td
{
	text-align: start;
}

table
{
	width: 100%;
}

.text-danger
{
	text-decoration: solid;
	color: red;
}

.checkbox
{
	width: auto;
}

.reorder-arrow:link
{
	text-decoration: none;
}

@media only screen and (max-width: 1080px)
{
	.hide-l1
	{
		display: none;
	}
}

@media only screen and (max-width: 850px)
{
	.hide-l2
	{
		display: none;
	}
}