footer
{
	display: none;
}

#contact-me
{
	padding: 30px 50px;
	margin: 0px;
	background-color: #1e1e1e;
	color: white;
}

	#contact-me var
	{
		color: #569cd6;
		font: inherit;
	}

	#contact-me .class
	{
		color: #4ec9b0;
	}

	#contact-me .method
	{
		color: #dcdcaa;
	}

	#contact-me div
	{
		margin-left: 25px;
	}

	#contact-me span a,
	#contact-me span a:visited
	{
		color: #d69d85;
		text-decoration: none;
	}

		#contact-me span a:before,
		#contact-me span a:after
		{
			content: "\"";
		}

		#contact-me span a:link:hover
		{
			text-decoration: underline;
		}