footer
{
	display: initial;
	padding: 30px 50px;
	margin: 0px;
	background-color: #1e1e1e;
	color: white;
}

	footer var
	{
		color: #569cd6;
		font: inherit;
	}

	footer .class
	{
		color: #4ec9b0;
	}

	footer .method
	{
		color: #dcdcaa;
	}

	footer div
	{
		margin-left: 25px;
	}

	footer span a,
	footer span a:link,
	footer span a:visited
	{
		color: #d69d85;
		text-decoration: none;
	}

		footer span a:before,
		footer span a:after
		{
			content: "\"";
		}

		footer span a:link:hover
		{
			text-decoration: underline;
		}

		footer span a:hover
		{
			color: #d69d85;
		}