footer {
    display: none;
}

.contact-me {
    padding: 30px 50px;
    background-color: #1e1e1e;
    color: white;
}

var {
    color: #569cd6;
    font: inherit;
}

.class {
    color: #4ec9b0;
}

.string, .string:visited {
    color: #d69d85;
    text-decoration: none;
}
.string:link:hover {
    text-decoration: underline;
}

.method {
    color: #dcdcaa;
}

.t1  { margin-right: 25px; }
.t2  { margin-right: 50px; }