@font-face
{
	font-family: "Consolas";
	src: local("Consolas"),
		local("DMCA Sans Serif"),
		url("/fonts/DMCAsansserif.ttf") format("truetype");
}

@font-face
{
	font-family: "Segoe MDL2 Assets";
	src: local("Segoe MDL2 Assets"),
		local("Fabric External MDL2 Assets"),
		url("/fonts/fabricmdl2.ttf") format("truetype");
}

@font-face
{
	font-family: "Segoe UI";
	src: local("Segoe UI"),
		local("Segoe UI Symbol"),
		local("Selawik"),
		url("/fonts/SegoeUI/segoeui.ttf") format("truetype"),
		url("/fonts/Selawik/selawk.eot"),
		url("/fonts/Selawik/selawk.eot?#iefix") format("embedded-opentype"),
		url("/fonts/Selawik/selawk.svg") format("svg"),
		url("/fonts/Selawik/selawk.ttf") format("truetype"),
		url("/fonts/Selawik/selawk.woff") format("woff"),
		url("/fonts/Selawik/selawk.woff2") format("woff2");
}

@font-face
{
	font-family: "Comic Sans MS";
	src: local("Comic Sans MS"),
		url("/fonts/emcomic.ttf") format("truetype"),
		url("/fonts/nyashasans.ttf") format("truetype");
}