/* Gallery styles */
.gallery img
{
	object-fit: cover;
	height: 300px;
	max-width: 100%;
	margin: 2px;
	transition: .25s;
}

	.gallery img:hover
	{
		filter: brightness(125%);
		transform: scale(1.1);
	}

/* Adaptive code */
@media only screen and (max-width: 600px)
{
	.gallery img
	{
		height: initial;
	}

		.gallery img:hover
		{
			transform: none;
		}
}

/* Image details page styles */
.image-overview-block img
{
	max-height: 50vh;
	max-width: 100%;
	float: left;
	cursor: zoom-in;
}

.image-overview-block div
{
	display: inline-block;
	margin-left: 20px;
}

.image-overview-block h1
{
	margin-bottom: 0px;
}
