.gallery img {
    object-fit: cover;
    max-height: 300px;
    max-width: 100%;
    margin: 2px;
    transition: .25s;
}
.gallery img:hover {
    filter: brightness(125%);
    transform: scale(1.1);
}

.image-overview-block img {
    max-height: 50vh;
    max-width: 100%;
    float: left;
    cursor: zoom-in;
}
.image-overview-block div {
    display: inline-block;
    margin-left: 20px;
}
.image-overview-block h1 {
    margin-bottom: 0px;
}

@media only screen and (max-width: 600px) {
    .gallery img {
        max-height: none;
    }
    .gallery img:hover {
        filter: brightness(125%);
        transform: none;
    }
}