@font-face {
    font-family: 'Consolas';
    src: url("/fonts/consolas.eot");
    src: url("/fonts/consolas.eot?#iefix") format("embedded-opentype"), url("/fonts/consolas.otf") format("opentype"), url("/fonts/consolas.svg") format("svg"), url("/fonts/consolas.ttf") format("truetype"), url("/fonts/consolas.woff") format("woff"), url("/fonts/consolas.woff2") format("woff2");
}

@font-face {
    font-family: 'Segoe MDL2 Assets';
    src: url("/fonts/segoeMLD2assets.eot");
    src: url("/fonts/segoeMLD2assets.eot?#iefix") format("embedded-opentype"), url("/fonts/segoeMLD2assets.otf") format("opentype"), url("/fonts/segoeMLD2assets.svg") format("svg"), url("/fonts/segoeMLD2assets.ttf") format("truetype"), url("/fonts/segoeMLD2assets.woff") format("woff"), url("/fonts/segoeMLD2assets.woff2") format("woff2");
}

@font-face {
    font-family: 'Segoe UI';
    src: url("/fonts/segoeUI.eot");
    src: url("/fonts/segoeUI.eot?#iefix") format("embedded-opentype"), url("/fonts/segoeUI.otf") format("opentype"), url("/fonts/segoeUI.svg") format("svg"), url("/fonts/segoeUI.ttf") format("truetype"), url("/fonts/segoeUI.woff") format("woff"), url("/fonts/segoeUI.woff2") format("woff2");
}

body {
    margin: 0px;
    font-family: Consolas, 'Segoe MDL2 Assets';
}

.navbar {
    background-color: #343434;
    position: sticky;
    z-index: 10;
    top: 0%;
    right: 0%;
    left: 0%;
    padding: 10px;
    min-height: 35px;
    font-size: 26px;
}

.navbar a {
    text-decoration: none;
    color: white;
}
.navbar a:hover {
    color: gray;
}

footer a {
    text-decoration: none;
    color: black;
}
footer a:hover {
    color: orangered;
}

.main-menu {
    display: inline;
    list-style: none;
}

.main-menu li {
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
}

.sideheader {
    float: right;
}

footer {
    padding: 0px 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto auto;
    grid-column-gap: 10px;
}
footer svg { width: 1.4em; }

main {
    min-height: calc(100vh - 130px);
}

.info-block {
    margin: 0px 50px;
}

header {
    margin: 0px 50px;
}
header a {
    text-decoration: none;
    color: black;
}
header a:hover {
    color: black;
    text-decoration: underline;
}

.image-overview-block img {
    max-height: 50vh;
    float: left;
    display: inline;
}
.image-overview-block div {
    margin: 10px;
    display: inline-block;
}
.image-overview-block div h1 {
    margin-bottom: 0px;
}
.image-overview-block .date {
    margin: 0px;
}

article a:visited {
    color: blue;
}
article a:link {
    color: blue;
}

.gallery img {
    transition: .25s;
    object-fit: cover;
    max-width: 300px;
    height: 200px;
    margin: 2px;
}
.gallery img:hover {
    filter: brightness(125%);
    transform: scale(1.25);
}

.github-stats {
    margin-top: 20px;
    grid-column: 2 / 2;
}

.projects-block {
    margin: 0px 10px;
}

.projects-header {
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: 1fr auto;
}

.project-item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;

    background-color: whitesmoke;
    margin-bottom: 10px;
}
.project-item .thumbnail {
    grid-column: 1/1;
    grid-row: 1/3;
}
.project-item .thumbnail img {
    max-height: 220px;
}
.badges {
    grid-column: 2/2;
    grid-row: 2/2; 
    margin-bottom: 20px;
    align-self: end;
}

.project-item .text {
    grid-column: 2/2;
    grid-row: 1/1;
    margin-bottom: 15px;
}

.text div {
    margin-top: 20px;
}

.badge {
    height: 25px;
    width: 25px;
    margin-right: 10px !important;
    display: inline-block;
    background-size: contain;
}

.comment {
    color: #57a64a;
}
.comment:visited {
    color: #57a64a;
}
.tab {
    margin-right: 25px;
}
.contact-me {
    padding: 30px 50px;
    background-color: #1e1e1e;
    color: white;
}
code {
    font: inherit;
}
var {
    color: #569cd6;
    font: inherit;
}
.class {
    color: #4ec9b0;
}
.string {
    color: #d69d85;
    text-decoration: none;
}
.string:link:hover {
    text-decoration: underline;
}
.string:visited {
    color: #d69d85;
    text-decoration: none;
}
.method {
    color: rgb(220, 220, 170);
}

.csharp { background-image: url(../images/Badges/csharp.png); }
.dotnet { background-image: url("../images/Badges/dotnet.png"); }
.xamarin { background-image: url("../images/Badges/xamarin.png"); }
.unity { background-image: url("../images/Badges/unity.png"); }
.android { background-image: url("../images/Badges/android.png"); }
.uwp { background-image: url("../images/Badges/windows.png"); }
.win32 { background-image: url("../images/Badges/windows.png"); }
.windows { background-image: url("../images/Badges/windows.png"); }