@font-face {
    font-family: 'Consolas';
    src: url("/fonts/consolas.eot");
    src: url("/fonts/consolas.eot?#iefix") format("embedded-opentype"), url("/fonts/consolas.otf") format("opentype"), url("/fonts/consolas.svg") format("svg"), url("/fonts/consolas.ttf") format("truetype"), url("/fonts/consolas.woff") format("woff"), url("/fonts/consolas.woff2") format("woff2");
}

@font-face {
    font-family: 'Segoe MDL2 Assets';
    src: url("/fonts/segoeMLD2assets.eot");
    src: url("/fonts/segoeMLD2assets.eot?#iefix") format("embedded-opentype"), url("/fonts/segoeMLD2assets.otf") format("opentype"), url("/fonts/segoeMLD2assets.svg") format("svg"), url("/fonts/segoeMLD2assets.ttf") format("truetype"), url("/fonts/segoeMLD2assets.woff") format("woff"), url("/fonts/segoeMLD2assets.woff2") format("woff2");
}

@font-face {
    font-family: 'Segoe UI';
    src: url("/fonts/segoeUI.eot");
    src: url("/fonts/segoeUI.eot?#iefix") format("embedded-opentype"), url("/fonts/segoeUI.otf") format("opentype"), url("/fonts/segoeUI.svg") format("svg"), url("/fonts/segoeUI.ttf") format("truetype"), url("/fonts/segoeUI.woff") format("woff"), url("/fonts/segoeUI.woff2") format("woff2");
}

body {
    margin: 0px;
    font-family: Consolas, 'Segoe MDL2 Assets';
}

.navbar {
    background-color: #343434;
    position: fixed;
    z-index: 10;
    top: 0%;
    right: 0%;
    left: 0%;
    padding: 10px;
    min-height: 35px;
    font-size: 26px;
}

.navbar a {
    text-decoration: none;
    color: white;
}
.navbar a:hover {
    color: gray;
}

.main-menu {
    display: inline;
    list-style: none;
}

.main-menu li {
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
}

.sideheader {
    float: right;
}

body {
    padding-top: 55px;
}

footer {
    padding-left: 10px;
}

main {
    min-height: calc(100vh - 130px);
}

.info-block {
    margin-left: 50px;
}

header {
    margin-left: 50px;
}
header a {
    text-decoration: none;
    color: black;
}
header a:hover {
    color: black;
    text-decoration: underline;
}

.image-overview-block img {
    max-height: 50vh;
    float: left;
    display: inline;
}
.image-overview-block div {
    margin: 10px;
    display: inline-block;
}
.image-overview-block div h1 {
    margin-bottom: 0px;
}
.image-overview-block .date {
    margin: 0px;
}

article a:visited {
    color: blue;
}