@using System.Globalization
@model MyWebsite.Models.ResumeModel
@{
	ViewData["Title"] = "Create " + (ViewData["Caption"] ?? "resume");
}

<header>
	&#xE760; <a asp-action="Index">Back to the list</a>
	<h1>Create @(ViewData["Caption"] ?? "resume")</h1>
</header>

<article>
	<form method="post">
		<div asp-validation-summary="All" class="text-danger"></div>
		<div>
			<label asp-for="Language"></label>
			<select asp-for="Language" required>
				@foreach (var culture in CultureInfo.GetCultures(CultureTypes.NeutralCultures))
				{
					<option value="@culture.Name">@culture.EnglishName</option>
				}
			</select>
			<span asp-validation-for="Language" class="text-danger"></span>
		</div>
		<div>
			<label asp-for="Content"></label>
			<textarea asp-for="Content" spellcheck="false" required></textarea>
			<span asp-validation-for="Content" class="text-danger"></span>
		</div>
		<br />
		<input type="submit" value="Save" />
	</form>
</article>

@section Imports
{
	<style type="text/css">
		form
		{
			max-width: initial;
		}

		textarea
		{
			min-height: 500px;
		}
	</style>
}