@model MyWebsite.Models.Resume

@{
    ViewData["Title"] = "Edit resume";
}

<header>
    <p>&#xE760; <a asp-action="Index">Back to the list</a></p>
    <h1>Edit resume</h1>
</header>

<article>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label asp-for="Language"></label>
            <input type="text" asp-for="Language" readonly class="readonly" />
        </div>
        <div>
            <label asp-for="Content"></label>
            <textarea asp-for="Content" spellcheck="false"></textarea>
            <a class="comment" onclick="CopyToClipboard()" href="#">// &#xE16D; Copy to clipboard</a>
            <span style="display: none" id="copied"> - Done</span><br />
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <br />
        <input type="submit" value="Save" />
    </form>
</article>

<link type="text/css" rel="stylesheet" href="~/css/Admin.css" />
<style type="text/css">
    form {
        max-width: initial;
    }
    textarea {
        min-height: 500px;
    }
</style>
<script type="text/javascript">
    async function CopyToClipboard() {
        text = document.getElementById("Content");
        text.select();
        document.execCommand("copy");
        window.getSelection().removeAllRanges();
        document.getElementById("copied").style.display = "initial";
        await delay(3000);
        document.getElementById("copied").style.display = "none";
    }
</script>