
@{
    ViewData["Title"] = "Contact info";
}

<header>
    <h1>Contact information</h1>
</header>

<article>
    <p>
        <a class="socicon-outlook"></a> Email: <a href="mailto:michael.xfox@outlook.com">michael.xfox@outlook.com</a><br>
        <a class="socicon-linkedin"></a> LinkedIn: <a href="https://linkedin.com/in/xfox" target="_blank">@@xfox</a><br>
        <!--<a class="socicon-facebook"></a> Facebook: <a href="https://facebook.com/xfox111" target="_blank">@@xfox111</a><br/>-->
        <a class="socicon-vkontakte"></a> Vkontakte: <a href="https://vk.com/xfox.mike" target="_blank">@@xfox.mike</a><br>
        <a class="socicon-youtube"></a> YouTube: <a href="https://www.youtube.com/channel/UC3H2q5Ss_CR3wP_S1zV8joA" target="_blank">@@UC3H2q5Ss_CR3wP_S1zV8joA</a><br>
        <a class="socicon-telegram"></a> Telegram: <a>@@xfox111</a>
    </p>
    <p>
        <a class="socicon-twitter"></a> Twitter: <a href="https://twitter.com/xfox111" target="_blank">@@xfox111</a><br>
        <a class="socicon-twitch"></a> Twitch: <a href="https://twitch.com/xfox111" target="_blank">@@xfox111</a><br>
        <a class="socicon-github"></a> GitHub: <a href="https://github.com/xfox111" target="_blank">@@xfox111</a><br>
    </p>
</article>

