
@{
    ViewData["Title"] = "Contact info";
}

<header>
    <h1>Contact information</h1>
</header>

<article>
    <p>
        <a class="socicon-outlook"></a> Email: <a href="mailto:michael.xfox@outlook.com">michael.xfox@outlook.com</a><br>
        <a class="socicon-linkedin"></a> LinkedIn: <a href="//linkedin.com/in/xfox" target="_blank">@@xfox</a><br>
        <!--<a class="socicon-facebook"></a> Facebook: <a href="//facebook.com/xfox111" target="_blank">@@xfox111</a><br/>-->
        <a class="socicon-vkontakte"></a> Vkontakte: <a href="//vk.com/xfox.mike" target="_blank">@@xfox.mike</a><br>
        <a class="socicon-telegram"></a> Telegram: <a href="//t.me/xfox111" target="_blank">@@xfox111</a><br />
        <a class="socicon-skype"></a> Skype: <a href="//join.skype.com/invite/eVp6BISfcmNz" target="_blank">@@mag48gordeev</a>
    </p>
    <p>
        <a class="socicon-twitter"></a> Twitter: <a href="//twitter.com/xfox111" target="_blank">@@xfox111</a><br>
        <a class="socicon-twitch"></a> Twitch: <a href="//twitch.com/xfox111" target="_blank">@@xfox111</a><br>
        <a class="socicon-youtube"></a> YouTube: <a href="//www.youtube.com/channel/UC3H2q5Ss_CR3wP_S1zV8joA" target="_blank">@@UC3H2q5Ss_CR3wP_S1zV8joA</a><br>
        <a class="socicon-github"></a> GitHub: <a href="//github.com/xfox111" target="_blank">@@xfox111</a><br>
    </p>
</article>

