
@{
    ViewData["Title"] = "Curriculum vitae";
}

<header>
    <h1>My resume</h1>
    <p class="comment">// TODO: Complete page</p>
    <a class="comment" href="~/">// Download CV (.pdf) &#xE118;</a>
</header>

<article class="info-block">
    <h3>Michael (Mikhail) A. Gordeev</h3>
    <hr>
    <p>
        Saint Petersburg,<br>
        Russia<br>
        Phone No (Russia): +7 (996) 929-19-69<br>
        Email: <a href="mailto:michael.xfox@outlook.com">michael.xfox@outlook.com</a><br>
    </p>
    <p>
        <b>Overall Summary:</b><br>
    </p>
    <p>
        Self- directed, detail-oriented, and professional C# programmer with more than 5 years of experience in designing, developing, analyzing, and implementing client-server, web and desktop-based applications using C# language. Expertise in system designing as well as in testing, debugging and modifying related application code. Capable of learning new programming languages and technologies and complete projects within specified deadlines. Possess excellent communication, problem-solving, documentation, analytical, and decision solving skills.
    </p>
    <p>
        <b>Summary of Skills:</b><br>
    </p>
    <ul>
        <li>
            Thorough knowledge of C# programming concepts, SDLC, testing and debugging methods, system design, and implementation, database system, including DB2 and relational databases, program documentation, web and desktop application development
        </li>
        <li>
            Proficient in Object oriented programming such as C, C++, C# as well as experience with MS SQL Server, ASP. NET, MVC, and ORM frameworks
        </li>
        <li>
            Strong understanding of HTML, CSS, JavaScript, web services, Visual Studio, design and  architectural patterns, and window services
        </li>
        <li>
            Ability to analyze and understand complex problems, and generate appropriate technical solutions independently
        </li>
        <li>
            Effective communication and interpersonal skills with the ability to maintain good relations and share technical ideas with users or clients, technical and management staff
        </li>
        <li>
            Excellent leadership and mentoring skills as well as the ability to work independently and within teams
        </li>
        <li>
            Strong organizational skills along with the ability to accomplish multiple tasks under extreme pressure, and meet specific deadlines
        </li>
        <li>
            Ability to grasp and apply new concepts quickly and stay updated with latest trends and technical advancements
        </li>
    </ul>
    <p>
        <b>TECHNICAL SKILLS:</b>
    </p>
    <ul>
        <li>
            OS: Windows and DOS
        </li>
        <li>
            Languages: C, C++, C#, Visual Basic 6, Visual Basic, .NET, SOAP, HTML, DHTML, XML
        </li>
        <li>
            Software: Visual Studio, .NET 2005, Dreamweaver
        </li>
        <li>
            Database: MySQL 4.0/5, MS SQL 2000/2005, MS Access
        </li>
        <li>
            Networking: TCP/IP, LAN, FTP, DNS, DHCP, IIS, Active Directory
        </li>
        <li>
            Very energetic and ready to take new challenges
        </li>
        <li>
            Excellent communication and presentation skills
        </li>
        <li>
            In-depth knowledge of web technologies, customer services and sales management
        </li>
    </ul>
    <p>
        <b>Work Experience:</b><br>
    </p>
    <p>
        C# Programmer <br>
        Broad-ridge Technologies, Louisville, KY<br>
        October 2017 – Present<br>
    </p>
    <ul>
        <li>
            Providing support to IT personnel in designing, developing, analyzing, testing, debugging, and executing C# programs for windows desktop and web-based applications
        </li>
        <li>
            Assisting project manager in defining detailed specifications for specific functionality requirements as well as analyzing, designing, and encoding new systems using C# language
        </li>
        <li>
            Preparing accurate reports to document design flaws and bugs as well as modifying existing software or system to correct errors and improve performance
        </li>
        <li>
            Collaborating with other programmers and developers in the whole development process, and using structured analysis and design to determine steps to develop programs
        </li>
        <li>
            Determining user requirements, including project budgets and timelines as well as providing consultative services to clients and project team members on technical issues
        </li>
        <li>
            Mentoring and assisting with training of new and <a href="https://www.bestsampleresume.com/sample-programmer-resume/junior-programmer-resume.html" target="_blank" rel="noopener">junior programmers</a> as well as doing code reviews for other team members to ensure highest possible quality in software products
        </li>
        <li>
            Researching and evaluating new development tools and software products to increase programming capabilities as well as creating written developers guides, and training users in system operations
        </li>
    </ul>
    <p>
        C# Programmer <br>
        Sunlight Solutions, Louisville, KY<br>
        March 2015 - October 2017<br>
    </p>
    <ul>
        <li>
            Developed software code using C# programming language to meet design specifications, and user requirements as well as delivered high-quality applications within specified deadlines
        </li>
        <li>
            Contributed to overall project plans in compliance with established procedures and standards as well as provided support and error resolution for developed desktop and web applications
        </li>
        <li>
            Wrote and provided appropriate application user guides for end-users and system admin as well as developed and maintained all documentation that pertained to programming projects
        </li>
        <li>
            Evaluated impact of a programming change or modification on whole system as well as communicated status of all projects to team leaders or development lead to ensure projects were implemented properly
        </li>
        <li>
            Trained programmers in new techniques as well as assisted in reviewing codes
        </li>
    </ul>
    <p>
        Junior C# Programmer<br>
        Edwards Tech Group, Louisville, KY<br>
        December 2013 - February 2015<br>
    </p>
    <ul>
        <li>
            Independently analyzed and validated program specifications as well as designed and created reliable and reusable C# code that conformed to department standards and procedures
        </li>
        <li>
            Assisted in interpreting design specifications, clients' requirements and use cases into functional applications as well as in ensuring their best possible performance, quality, and responsiveness
        </li>
        <li>
            Assisted <a href="https://www.bestsampleresume.com/sample-programmer-resume/senior-programmer-resume.html" target="_blank" rel="noopener">Senior Programmer</a> in researching user questions on program processing logics, and calculations as well as performing thorough program and application testing as required
        </li>
        <li>
            Assisted in designing and developing new features and functionality for software applications as per requirements as well as in identifying and debugging defects in application code
        </li>
        <li>
            Worked with other junior programmers in developing ERP software for systems and windows service for data files as well as assisted in designing and creating web-pages and new database
        </li>
    </ul>
    <p>
        <b>Education:</b><br>
    </p>
    <ul>
        <li>
            Bachelor's Degree in Information Technology <br>
            Bellarmine University, Louisville, KY<br>
            2013
        </li>
    </ul>
    <br>
    <p>
        <b>Reference:</b><br>
    </p>
    <p>On request.</p>
</article>

<div class="contact-me">
    <code>
        <var>if</var> (<var class="class">You</var>.InsterestedInMe)<br />
        <span class="tab"></span><var class="method">ContactMe</var>();<br />
        <br />
        <a class="comment">// All links are clickable</a><br />
        <var>public void</var> <var class="method">ConatactMe</var>()<br />
        {<br />
        <span class="tab"></span><var>string</var> email = <a class="string" href="mailto:michael.xfox@outlook.com">"mihcael.xfox@outlook.com"</a>;<br />
        <span class="tab"></span><var class="class">Link</var>[] socialNetworks = <var>new</var> <var class="class">Link</var>[]<br />
        <span class="tab"></span>{<br />
        <span class="tab"></span><span class="tab"></span><var>new</var> <var class="class">Link</var>(<a class="string">"LinkedIn"</a>, <a class="string" href="//linkedin.com/xfox">"https://linkedin.com/xfox"</a>),<br />
        <span class="tab"></span><span class="tab"></span><var>new</var> <var class="class">Link</var>(<a class="string">"GitHub"</a>, <a class="string" href="//github.com/xfox111">"https://github.com/xfox111"</a>),<br />
        <span class="tab"></span><span class="tab"></span><var>new</var> <var class="class">Link</var>(<a class="string">"Twitter"</a>, <a class="string" href="//twitter.com/xfox111">"https://twitter.com/xfox111"</a>),<br />
        <span class="tab"></span><span class="tab"></span><var>new</var> <var class="class">Link</var>(<a class="string">"Vkontakte"</a>, <a class="string" href="//vk.com/xfox.mike">"https://vk.com/xfox.mike"</a>)<br />
        <span class="tab"></span>}<br />
        }<br />
        <br />
        <a class="comment">// Copyright &copy;2019 Michael "XFox" Gordeev</a>
    </code>

    <style type="text/css">
        footer {
            display: none;
        }
    </style>
</div>