
@{
    ViewData["Title"] = "Curriculum vitae";
}

<header>
    <h1>My resume</h1>
    <a class="comment" asp-action="Download">// Download CV (.pdf) &#xE118;</a>
</header>

<article>
    <h3>Michael (Mikhail) A. Gordeev</h3>
    <hr>
    <p>
        Saint Petersburg,<br>
        Russia<br>
        Phone (Russia): +7 (996) 929-19-69<br>
        Email: <a href="mailto:michael.xfox@outlook.com">michael.xfox@outlook.com</a><br>
    </p>

    <h4>Overall Summary:</h4>
    <p>
        Self- directed, detail-oriented, and professional C# programmer with more than 3 years of experience in designing, developing, analyzing, and implementing client-server, web and desktop-based applications using C# language. Expertise in system designing as well as in testing, debugging and modifying related application code. Capable of learning new programming languages and technologies and complete projects within specified deadlines. Possess excellent communication, problem-solving, documentation, analytical, and decision solving skills.
    </p>

    <h4>Summary of Skills:</h4>
    <ul>
        <li>
            Thorough knowledge of C# programming concepts, OOP, SOILD, SDLC, testing and debugging methods, system design and implementation, database system, including DB2 and relational databases, program documentation, web and desktop application development
        </li>
        <li>
            Proficient in Object oriented programming such as C#, C++, Java as well as experience with .NET, ASP.NET Core, MVC, Xamarin and Unity frameworks
        </li>
        <li>
            Strong understanding of HTML, CSS, JavaScript, Visual Studio, design and architectural patterns
        </li>
        <li>
            Ability to analyze and understand complex problems, and generate appropriate technical solutions independently
        </li>
        <li>
            Effective communication and interpersonal skills with the ability to maintain good relations and share technical ideas with users or clients, technical and management staff
        </li>
        <li>
            Ability to work independently and within teams
        </li>
        <li>
            Strong organizational skills along with the ability to accomplish multiple tasks under extreme pressure, and meet specific deadlines
        </li>
        <li>
            Ability to grasp and apply new concepts quickly and stay updated with latest trends and technical advancements
        </li>
    </ul>

    <h4>TECHNICAL SKILLS:</h4>
    <ul>
        <li>
            Knowledge of Microsoft Windows Operating System
        </li>
        <li>
            Technologies stack: .NET, ASP.NET, 
        </li>
        <li>
            Languages: C#, JavaScript, Java, C++, Pascal, XAML, HTML, XML, CSS, SQL
        </li>
        <li>
            Frameworks and technologies: .NET, ASP.NET Core, Xamarin, Unity, CV, ML, Azure DevOps
        </li>
        <li>
            Platforms: UWP, Win32, Web, Android, iOS
        </li>
        <li>
            Software: Visual Studio, Adobe Photoshop, Illustrator, DaVinci Resolve, Sony Vegas Pro, FL Studio, Microsoft Office, 3Ds Max, Kompass 3D
        </li>
        <li>
            Database: MySQL, Microsoft Access
        </li>
        <li>
            Very energetic and ready to take new challenges
        </li>
        <li>
            Ready to learn anything new
        </li>
        <li>
            Excellent communication and presentation skills
        </li>
    </ul>

    <h4>Work Experience:</h4>
    <p>
        C# Software Developer<br />
        Technologies of Informational and Educational Systems Research Facility, <a title="Saint Petersburg State University of Telecommunications">SPbSUT</a>, St. Petersburg, Russia<br />
        September 2019 – Present
    </p>
    <ul>
        <li>
            Developing a <a asp-controller="Projects" asp-action="Index">cross-platform application</a> for University's students and professors
        </li>
        <li>
            Supporting and maintaining existing .NET solutions
        </li>
        <li>
            Providing UI and processing solutions for internal research projects
        </li>
        <li>
            Consulting in Software development projects
        </li>
    </ul>
    <p>
        C# Software Developer<br />
        Self-Employed, Lipetsk<br />
        2015 - September 2019
    </p>
    <ul>
        <li>
            Developing a <a asp-controller="Projects" asp-action="Index">YouTube client</a> application for Universal Windows Platform
        </li>
        <li>
            Comming out as a head of research group which was developing a <a asp-controller="Projects" asp-action="Index">Computer Vision based software</a>
        </li>
        <li>
            Doing small freelance tasks for Unity projects
        </li>
    </ul>

    <h4>Education:</h4>
    <ul>
        <li>
            <p>
                Bachelor's Degree in Computer Science (11.03.02 Infocommunication Systems)<br>
                State University of Telecommunications, Saint Petersburg, Russia<br>
                2019 – (Present time) – 2023
            </p>
        </li>
        <li>
            <p>
                High School 3.5/4.0 GPA<br />
                Lyceum №66, Lipetsk, Russia<br />
                2017-2019
            </p>
        </li>
        <li>
            <p>
                Secondary specialized education in Fortepiano<br />
                Regional College of Arts, Lipetsk, Russia<br />
                2007-2015
            </p>
        </li>
    </ul>

    <hr>
    <h4>Reference:</h4>
    <p>On request.</p>
</article>

<partial name="~/Views/Shared/ContactsBlock.cshtml" />