
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>CV print preview page - XFox111.NET</title>
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/png" />

    <link rel="stylesheet" type="text/css" href="~/css/Style.css" />

    @if (!(bool)ViewData["pdfPreview"])
    {
        <style type="text/css">
            article {
                margin: 0px;
            }
        </style>
    }
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <partial name="~/Views/CV/CVContent.cshtml" />

    @if(!(bool)ViewData["pdfPreview"])
    {
        <script type="text/javascript">print();</script>
    }
</body>
</html>
