
@{
    ViewData["Title"] = (ViewData["CurrentImage"] as Image).Title;
}

<header>
    <p>&#xE760; <a asp-action="Index" asp-controller="Gallery">Back to gallery</a></p>
</header>

<article class="image-overview-block">
    <img src="~/images/Gallery/@((ViewData["CurrentImage"] as Image).FileName)" onclick="ToggleImageSize();" id="image" />

    <div>
        <h1>@((ViewData["CurrentImage"] as Image).Title)</h1>
        <p class="date">Creation date: <a>@((ViewData["CurrentImage"] as Image).CreationDate.ToShortDateString())</a></p>
        <p>@((ViewData["CurrentImage"] as Image).Description)</p>
    </div>
</article>