@{
	ViewData["Title"] = "FoxTube";
}

<header>
	<h1>FoxTube Backend control panel</h1>
</header>

<article class="admin-menu">
	<p>
		<a asp-action="Gallery" class="comment">// Messages and changelogs</a><br />
		<a asp-action="Gallery" class="comment">// Recieved metrics</a>
	</p>
	<p>
		<a asp-action="Gallery" class="comment">// Privacy policies</a><br />
		<a asp-action="Gallery" class="comment">// Screenshots</a>
	</p>
</article>