@using Microsoft.AspNetCore.WebUtilities
@{
	ViewData["Title"] = "Error";
}

<header allow-select>
	<h1>Error @Context.Response.StatusCode</h1>
	<h2>@ReasonPhrases.GetReasonPhrase(Context.Response.StatusCode)</h2>
</header>

<article>
	<p>

	</p>
</article>