
@{
    ViewData["Title"] = "Hello, World!";
}

<article>
    <div class="block intro">
		<div class="content">
			<p style="font-family: 'Press Start 2P'">Hello, World!</p>
			<p>My name is Michael<br/>
			and I'm a C# developer.</p>
		</div>
		<img class="background" src="~/images/cvbg.png"/>
	</div>
	<!--<div class="block">
		<div class="content">
			<p>I was born in Russian town Lispetsk in 00's. At the age of 14 I discovered the magic of programming</p>
		</div>
	</div>-->
	<div class="block sut">
		<div class="content">
            <p>Now I'm studying at The Bonch-Bruevich Saint-Petersburg State University of Telecommunications on Infocommunication Systems bachelor's degree</p>
		</div>
		<img class="background" src="~/images/sut.jpg"/>
	</div>
	<!--<div class="block">
		<div class="content">
			<p>I was born in Russian town Lispetsk in 00's. At the age of 14 I discovered the magic of programming</p>
		</div>
	</div>-->
	<!--<div class="goto">
        <div class="keyword">goto </div>
        <div class="currentItem">Introduction;</div>
		<div class="list">
            <a href="#intro">Introduction</a>;<br/>
            <a href="#about">About_me</a>;<br/>
            <a href="#skills">My_skills</a>;<br/>
            <a href="#portfolio">My_projects</a>;<br/>
            <a href="#contact">Contact_me</a>;<br/>
		</div>
	</div>-->
</article>

<link rel="stylesheet" type="text/css" href="~/css/AboutMe.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap&subset=cyrillic">

<partial name="~/Views/Shared/ContactsBlock.cshtml"/>