<li><a asp-area="" asp-controller="Home" asp-action="Index">AboutMe();</a></li>
<li hidden><a href="//xfox111.blogspot.com/" target="_blank">MyBlog();</a></li>
<li><a asp-area="" asp-controller="Resume" asp-action="Index">MyResume();</a></li>
<li><a asp-area="" asp-controller="Projects" asp-action="Index">Projects();</a></li>
<li><a asp-area="" asp-controller="Gallery" asp-action="Index">Arts();</a></li>
<li><a asp-area="" asp-controller="Contacts" asp-action="Index">Contacts();</a></li>