@model ResumeViewModel
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>@SharedLocalizer["Michael (Mikhail) Gordeev - Resume"]</title>
	<link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" type="text/css" href="~/css/Style.css" />

	<style>
		html
		{
			overflow: initial;
		}

		body
		{
			display: initial;
			margin: initial;
			height: initial;
		}
	</style>

	<script type="text/javascript">
		window.onafterprint = function ()
		{
			window.location = "/Resume";
		}
		if (window.location.hash != "#preview")
			window.print();
	</script>
</head>
<body allow-select>
	@Html.Raw(Model.Resume.Content)
</body>
</html>