
@{
    ViewData["Title"] = Model.Title;
    Image image = Model;
}

<header>
    <p>&#xE760; <a asp-action="Index" asp-controller="Gallery">Back to gallery</a></p>
</header>

<article class="image-overview-block">
    <img src="~/images/Gallery/@image.FileName" onclick="ToggleImageSize();" id="image" />

    <div>
        <h1>@image.Title</h1>
        <span>Creation date: @image.CreationDate.ToShortDateString()</span>
        <p>
            @foreach(string line in image.Description.Split("\n"))
            {
                @line<br />
            }
        </p>
    </div>
</article>

<link rel="stylesheet" type="text/css" href="~/css/Gallery.css" />