
@{
    ViewData["Title"] = "My artworks";
}

<header>
    <h1>My arts</h1>
</header>

<article class="info-block gallery">
    @foreach (Image image in ViewData["Images"] as Image[])
    {
        <a asp-action="Details" asp-route-id="@image.FileName"><img title="@image.Title" src="~/images/Gallery/@image.FileName"/></a>
    }
</article>

<link rel="stylesheet" type="text/css" href="~/css/Gallery.css" />