
@{
    ViewData["Title"] = "Admin panel";
}

<header>
    <h1>Administration</h1>
    <h3><b style="color: red">Note:</b> Any write/read operations in this section will require an admin password</h3>
</header>

<article>
    <form>
        <input type="password" placeholder="Password" /><br />
        <label for="area">Go to section:</label><br />
        <div class="select-container">
            <select id="area">
                <option>Contact links</option>
                <option>Artworks</option>
                <option>Projects</option>
                <option>Resume</option>
            </select>
        </div>
        <button>Proceed</button>
    </form>
</article>

<link rel="stylesheet" type="text/css" href="~/css/Admin.css" />