@using Newtonsoft.Json
@using System.Net
@{ 
    Dictionary<string, Link> links = JsonConvert.DeserializeObject<Dictionary<string, Link>>(new WebClient().DownloadString($"{Context.Request.Scheme}://{Context.Request.Host}/Links.json"));
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - XFox111.NET</title>
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/png" />

    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?9ukd8d">

    <script src="~/js/site.js" type="text/javascript"></script>

    <meta name="author" content="Michael 'XFox' Gordeev" />
    <meta name="description" content="Hi, my name is Michael. I'm C# Developer and this is my personal website. Here you can find info about me, my projects and more. Check it out!" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="XFox111.NET" />
    <meta property="og:url" content="//XFox111.NET/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="~/images/me.png" />
    <meta property="og:description" content="Hi, my name is Michael. I'm C# Developer and this is my personal website. Here you can find info about me, my projects and more. Check it out!" />
    <meta property="og:title" content="Michael 'XFox' Gordeev - Personal website" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
    <body>
        <nav class="navbar">
            <a asp-controller="Home" asp-action="Index">XFox111.NET</a>

            <menu type="toolbar" class="main-menu" style="display:none">
                <li><a asp-controller="About" asp-action="Index">AboutMe();</a></li>
                <li><a asp-controller="CV" asp-action="Index">CV();</a></li>
                <li><a asp-controller="Projects" asp-action="Index">Projects();</a></li>
                <li><a asp-controller="Gallery" asp-action="Index">Arts();</a></li>
                <li><a asp-controller="Contacts" asp-action="Index">Contacts();</a></li>
            </menu>

            <a class="language-switch" asp-controller="Home" asp-action="SwitchLanguage" lang="ru">РУС &#xE12B;</a>
            <a class="menu-toggle" onclick="ToggleMenu();">&#xE700;</a>
        </nav>

        <main>
            @RenderBody()
        </main>

        <footer>
            <span class="comment">// Copyright &copy;@(DateTime.Today.Year) <b>Michael "XFox" Gordeev</b></span>

            @{
                foreach (Link link in new List<Link> { links["email"], links["linkedin"], links["github"] })
                {
                    <a class="socicon-@(link.Socicon)" href="@(link.Url)" target="_blank" title="@(link.Title)"></a>
                }
            }
        </footer>
    </body>
</html>
